@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);


*, *:before, *:after { 
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}

body { 
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#926239;
  line-height:1.6;
}

#showcase{
  background-image:url('cars.png');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}


nav { 
  position:fixed; 
  height:100vh; 
  width:4rem; 
  background:#555; 
  overflow:hidden;
  transition: width .3s ease;
  right: 0;
  
}

  nav:hover, nav.pinned { 
    width:10rem;
  }
 

  a { 
    color:#EEE; 
    text-decoration:none; 
    display:table; 
    width:10rem;
    

    }

    a:hover { 
      background:#444; 
      color:#BEE0ff;
    }

    a .fa { 
      width:10rem;
      display:table-cell;
      font-size:2rem; 
      padding:1rem 0;
      text-align:center;
    }
    a.label { 
      display:table-cell;
    }
  


section {
  padding: 2rem 5rem 2rem 9rem;
  min-height:100vh;
}

section h1 { 
    font-family:Raleway, Roboto, sans-serif; font-size:2.2rem; 
}
